<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Statistical Snacks - Webkiosk</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    </header>

    <body>
        <h1 class="f1 text-normal pullquote">Statistical Snacks Webkiosk</h1>
        <p class="pullquote">yummy yummy</p>

        <nav>
            <ul>
                <li><a href="{% url 'webkiosk:customer-list' %}">Customers</a></li>
                <li><a href="{% url 'webkiosk:customer-add' %}">Add Customer</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'webkiosk:food-list' %}">Foods</a></li>
                <li><a href="{% url 'webkiosk:food-add' %}">Add Food</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'webkiosk:order-list' %}">Orders</a></li>
                <li><a href="{% url 'webkiosk:order-add' %}">Add Order</a></li>
            </ul>
        </nav>

        {% block pagetitle %}
        {% endblock %}
        
        {% block maincontent %}
        {% endblock %}
    </body>
</html>