<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Statistical Snacks - Webkiosk</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </header>

    <body>
        <div class="topsection">
            <div class="">
                <h1 class="anim-hover-grow">GyattHub</h1>
                <p class="">like Github, but better.</p>
            </div>
            <div class="navcontainer p-2 rounded">
                <div class ="navset">
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:customer-list' %}">Customers</a></div>
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:customer-add' %}">Add Customer</a></div>
                </div>
                <div class ="navset">
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:food-list' %}">Foods</a></div>
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:food-add' %}">Add Food</a></div>
                </div>
                <div class ="navset">
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:order-list' %}">Orders</a></div>
                    <div class ="navitem anim-hover-grow"><a class="navitema" href="{% url 'webkiosk:order-add' %}">Add Order</a></div>
                </div>
            </div>
        </div>

        <div class="bodyblock">
            <div class="blocksection">
                {% block maincontent %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>