<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Statistical Snacks - Webkiosk</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </header>

    <body>
        <h1 class="f1 text-normal pullquote">Statistical Snacks Webkiosk</h1>
        <p class="pullquote">yummy yummy</p>

        <div class="border d-flex flex-justify-around">
            <div class ="bgColor-success-muted p-2 rounded mb-2">
                <div class="color-bg-subtle p-2 border rounded-3"><a href="{% url 'webkiosk:customer-list' %}">Customers</a></div>
                <div style="background-color: var(--color-bg-subtle);" class="p-2 border rounded-3"><a href="{% url 'webkiosk:customer-add' %}">Add Customer</a></div>
            </div>
            <div>
                <div><a href="{% url 'webkiosk:food-list' %}">Foods</a></div>
                <div><a href="{% url 'webkiosk:food-add' %}">Add Food</a></div>
            </div>
            <div>
                <div><a href="{% url 'webkiosk:order-list' %}">Orders</a></div>
                <div><a href="{% url 'webkiosk:order-add' %}">Add Order</a></div>
            </div>
        </div>
        
        {% block maincontent %}
        {% endblock %}
    </body>
</html>