{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %}Customers{% endblock %}

{% block maincontent %}
<h2>Customers</h2>
<div class="customerblock">
    <ul class="list-style-none">
        {% for customer in customerlist %}
            <li>
                <div class="customerlistcards">
                    <div class="customernameandid">
                        #{{customer.id}}<br><br>{{ customer.firstname}} {{customer.lastname}} 
                        
                    </div> 
                    <div class="customerlinkscontainer">
                        <a href="{% url 'webkiosk:customer-details' customer.id %}">More Info</a>
                        <a href="{% url 'webkiosk:customer-edit' customer.id %}">Edit Name</a>
                        <a href="{% url 'webkiosk:customer-delete' customer.id %}">Delete</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}