{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %} {{customer.firstname}} {{customer.lastname}} {% endblock %}

{% block maincontent %}
<div class="customerdetailsblock">
    <div class="customerdetailsheader">
        <h2> Customer Details</h2>
        <ul>
            <li>Name: {{customer.firstname}} {{customer.lastname}}</li>
            <li>Date Joined: {{ customer.date_joined }}</li>
        </ul>
    </div>

    <div class="customerdetailsbody">
        <div class="customerdetailscard">
            {% if customer.address_set.exists %}
            <div>
                <div class="cditemheader">
                    <h3>Addresses</h3>
                    <p><a href="{% url 'webkiosk:address-add' customer.id %}">Add Address</a></p>
                </div>
                <ul>
                    {% for address in customer.address_set.all %}
                        <li>{{ address.street }} {{ address.city }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>
                <p>No addresses found for this customer.</p>
            </div>
            {% endif %}
        </div>

        {% if customer.order_set.exists %}
        <div class="customerdetailscard">
            <div>
                <div class="cditemheader">
                    <h3>Orders</h3>
                    <p><a href="{% url 'webkiosk:order-add-customer' customer.id %}">Add Order</a></p> 
                </div>
                    <ul>
                    {% for order in customer.order_set.all %}
                        <li>
                            <p>#{{ order.id }} || {{ order.orderdatetime }}</p>
                            <a href="{% url 'webkiosk:order-details' order.id %}">Details</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>
                <p>No Orders found for this customer.</p>
            </div>
            {% endif %}
        </div>    
    </div>
</div>

{% endblock %}